{% extends '_layouts/cp' %}

{% set title = 'PenPen' %}

{% block main %}
    <div id="content-container">
        <div id="content" class="content-pane" data-react="PenPen" />
    </div>
{% endblock %}