<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <div data-react="Search"></div>
</body>

<footer>
    <script type="text/javascript" src="/assets/app.js"></script>
</footer>
</html>
